html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1050px;
  min-height: 380px;
}

/* 自定义一些element-ui组件的样式 */
.el-divider {
  margin: 0;
}

.el-menu {
  border-right: none;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.ql-editor {
  min-height: 300px;
}

.btnAdd {
  margin-top: 15px;
}

/* 网页跳转的进度条颜色 */
#nprogress .bar {
  background: #67C23A !important;
}